{{ define "top-bar-right" }}
{{ partial "share.html" . }}
{{ end }}
{{ define "main" }}
<div class="row">
  <div class="column small-12 medium-10 medium-offset-1 end large-8 large-offset-0">
    <article class="article" itemscope itemtype="http://schema.org/Article">
      {{ if .Params.image }}
      <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner" itemprop="image">
      {{ end }}
      <h1 itemprop="name">{{ .Title }}</h1>
      <div class="post-metadata">
        <!-- <span class="post-date">
          <time datetime="{{ $.Date }}" itemprop="datePublished">{{ $.Date.Format (default "2 January 2006" (index $.Site.Params "date_format")) }}</time>
        </span> -->
        <a href="{{ "/admin/#"  | relURL }}">Edit study</a>
        {{ if isset $.Params "tags" }}
        {{ $tagsLen := len $.Params.tags }}
        {{ if gt $tagsLen 0 }}
        <span class="post-tags">
          <span class="nowrap"><i class="fa fa-tags"></i>
          {{ range $k, $v := $.Params.tags }}
          <a class="post-tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>{{ if lt $k (sub $tagsLen 1) }},{{ if eq 0 $k }}</span>{{ end}} {{ end }}
          {{ end }}
        </span>
        {{ end }}
        {{ end }}
      </div>
      
      <div class="post-body" itemprop="articleBody">
        {{ .Content }}
        
        <h2>Study Overview</h2>
        
        <table>
          <tr>
            <td colspan="3"><b>Title:</b><br>{{.Title}}</td>
            <td colspan="1"><b>Abbrevation Title</b><br> </td>
          <tr>
            <td colspan="2"><b>Logo</b></td>
            <td><b>Sonsor</b><br>{{.Params.study_info.funding_sources}}</td>
            <td><b>Region</b><br>{{.Params.recruitment.country}}</td>
          <tr>
            <td colspan="2"><b>Primary outcomes:</b><br>{{.Params.study_info.primary_outcomes}}</td>
            <td colspan="2"><b>Research Question:</b><br>{{.Params.study_info.research_question}}</td>
          <tr>
            <td colspan="4"><b>Method used:</b><br>{{.Params.study_info.methods_used}}</td>
          <tr>
            <td colspan="2"><b>Study population:</b><br>{{.Params.study_numbers.study_population}}</td>
            <td colspan="2"><b>Total population in area:</b><br>{{.Params.study_numbers.population}}</td>
          <tr>
            <td colspan="4"><b>Primary outcomes:</b><br>{{.Params.study_info.primary_outcomes}}</td>
          <tr>
            <td colspan="2"><b>Principle investigator</b><br>{{.Params.study_pi.name}}</td>
            <td><b>Institution:</b><br>{{.Params.study_pi.institution}}</td>
            <td><b>Contact:</b><br>{{.Params.study_pi.email}}</td>
          <tr>
            <td><b>Sampling start:</b><br>{{.Params.study_dates.sample_start}}</td>
            <td><b>Sampling end:</b><br>{{.Params.study_dates.sample_end}}</td>
            <td><b>Study start:</b><br>{{.Params.study_dates.study_start}}</td>
            <td><b>First results expected:</b><br>{{.Params.study_dates.study_first_results}}</td>
          </tr>
        
        
        
        
        </table>

        <h2>Study metadata</h2>

        
        <code> {{ highlight (.Params | jsonify  (dict "prefix" " " "indent" "  ") ) "json"  "linenos=false" }}</code>
      </div>

      

      <meta itemprop="wordCount" content="{{ .WordCount }}">
      <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
      <meta itemprop="url" content="{{ .Permalink }}">
    </article>

    <ul class="pagination" role="navigation" aria-label="Pagination">
      {{ if .PrevInSection }}
      <li class="arrow" aria-disabled="true"><a href="{{.PrevInSection.Permalink}}">&laquo; <em>Previous<span class="show-for-sr"> page</span></em>: {{ .PrevInSection.Title }}</a></li>
      {{ end }}
      {{ if .NextInSection }}
      <li class="arrow" aria-disabled="true"><a href="{{.NextInSection.Permalink}}"><em>Next<span class="show-for-sr"> page</span></em>: {{ .NextInSection.Title }}&nbsp;&raquo;</a></li>
      {{ end }}
    </ul>

    <!-- FIXME <a href="/post/archives/">All Posts by Date</a> &middot; <a href="/categories/">All Posts by Category</a> -->
  </div>
</div>
{{ end }}
