<!doctype html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "header.html" . }}
  <body>
      {{ block "header" . }}
    <header>
      <nav class="nav-bar">
	<!-- The title bar is used for small sizes.  -->
	  <div class="title-bar" data-responsive-toggle="site-menu" data-hide-for="medium">	      
	    <!-- <button class="site-hamburger" type="button" data-toggle>
	      <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
		</button> -->
		<!--    Made by Erik Terwan    -->
		<!--   24th of November 2015   -->
		<!--        MIT License        -->
		<nav role="navigation">
			<div id="menuToggle">
			<!--
			A fake / hidden checkbox is used as click reciever,
			so you can use the :checked selector on it.
			-->
			<input type="checkbox" />
			
			<!--
			Some spans to act as a hamburger.
			-->
			<span></span>
			<span></span>
			<span></span>
			
			<ul id="menu">
				<a href="/"><li>Home</li></a>
				<a href="/studies"><li>Studies</li></a>
				<a href="/publication"><li>Publications</li></a>
				<a href="/about"><li>About</li></a>
				<a href="/share_study"><li>Share your study</li></a>
			</ul>
			</div>
		</nav>
		<!--  end   -->
	    <div class="title-bar-title site-title">
	      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	    </div>
	    <div class="title-bar-right pull-right">
	      {{ block "title-bar-right" . }}
	      {{ end }}
	    </div>
	  </div>
	    
	  <!-- The top bar is used for medium and up.  -->
	    <div class="top-bar" id="site-menu" >	      
	      <div class="top-bar-title show-for-medium site-title">
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	      </div>
	      <div class="top-bar-left">
		<ul class="menu vertical medium-horizontal">
		  {{ $currentNode := . }}
		  {{ range .Site.Menus.main }}
		  <li><a href="{{.URL}}">{{ .Name }}</a></li>
		  {{ end }}
		</ul>
	      </div>
	      <div class="top-bar-right show-for-medium">
		{{ block "top-bar-right" . }}
		{{ end }}
	      </div>
	    </div>
	  <!-- /div-->
	</nav>
      {{ end }}
    </header>
    {{ block "fullmain" . }}
    <main>
      {{ block "main" . }}
      (add a main block to your template)
      {{ end }}
    </main>
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
