<!doctype html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "header.html" . }}
  <body>
      {{ block "header" . }}
    <header>
      <nav class="nav-bar">
	<!-- The title bar is used for small sizes.  -->
	  <div class="title-bar" data-responsive-toggle="site-menu" data-hide-for="medium">	      
	    <button class="site-hamburger" type="button" data-toggle>
	      <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
	    </button>
	    <div class="title-bar-title site-title">
	      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	    </div>
	    <div class="title-bar-right pull-right">
	      {{ block "title-bar-right" . }}
	      {{ end }}
	    </div>
	  </div>
	    
	  <!-- The top bar is used for medium and up.  -->
	    <div class="top-bar" id="site-menu" >	      
	      <div class="top-bar-title show-for-medium site-title">
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	      </div>
	      <div class="top-bar-left">
		<ul class="menu vertical medium-horizontal">
		  {{ $currentNode := . }}
		  {{ range .Site.Menus.main }}
		  <li><a href="{{.URL}}">{{ .Name }}</a></li>
		  {{ end }}
		</ul>
	      </div>
	      <div class="top-bar-right show-for-medium">
		{{ block "top-bar-right" . }}
		{{ end }}
	      </div>
	    </div>
	  <!-- /div-->
	</nav>
      {{ end }}
    </header>
    {{ block "fullmain" . }}
    <main>
      {{ block "main" . }}
      (add a main block to your template)
      {{ end }}
    </main>
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
