@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    height: 100vh;
  }
body {
  display: flex;
  flex-direction: column;
  color: #002b4f;
  font-family: 'Source Sans Pro', sans-serif;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
h2 {
  color: #005b9c;
}
.row {
  max-width: 150rem;
}

.top-bar,
.title-bar,
.nav-bar button,
.nav-bar a,
.nav-bar ul {
    background-color: #005b9c;
}
.endofpage { 
  background-color: #002b4f;
}
a
{
    border-bottom: 1px dotted #005b9c;
    color: #005b9c;
}
a:hover, a:active {
  color: #e42312;
}

footer.whatisthis {
  background-color: white;
  border-top: 1px solid#002b4f;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.button.hollow.pub-link {
  color: #002b4f;
  border: 1px dotted #002b4f;
}

.button.hollow.primary {
  border: 1px solid #005b9c;
  color: #005b9c;
}
.button.hollow.primary:hover, .button.hollow.primary:active {
  border: 1px solid #e42312;
  color: #e42312;
}
.pub-icon {
  color: #002b4f;
}
