<footer class="whatisthis">
        <!--<hr />-->
        <div class="row">
          <div class="column small-12 medium-4">
              <img style="margin-top: 5px;" src="{{.Site.Params.logo | absURL }}" alt="Portrait of the author">
          </div>
          <div class="column small-12 medium-4">
            
            <h2>About</h2>
            <p></p>{{ .Site.Params.bio_full }}</p>
            <p>You can provide details on a study to be included here, via <a href="{{ "share_study" | absURL }}">Share a Study</a>.</p>
          </div>
          <div class="column small-12 medium-4">
            <h2 id="contact">Contact</h2>
            <ul class="fa-ul">
              {{ range $.Site.Params.social }}
              <li><i class="fa-li {{ .icon_pack }} {{ .icon_pack}}-{{ .icon }}" style="padding-top:3px;"></i><a href="{{ .link }}">{{ .text }}</a>{{ if .site}} on {{ .site }}{{ end }}</li>
              {{ end }}
            </ul>
          </div>

        </div>
      </footer>
      