{{ block "whatisthis" . }}
    {{ partial "whatisthis" . }}
    {{ end }}
    {{ block "endofpage" . }}
    <div class="endofpage">
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/what-input.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/finite.js"></script>

    <!-- Code highlighting -->
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- LaTeX math rendering -->
    {{ if or (and (isset .Site.Params "math") (eq .Site.Params.math true)) (and (isset .Params "math") (eq .Params.math true)) }}

    <link rel="stylesheet" href="{{ .Site.BaseURL }}katex/katex.min.css">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="{{ .Site.BaseURL }}katex/katex.min.js"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="{{ .Site.BaseURL }}katex/contrib/auto-render.min.js"
            onload="renderMathInElement(document.body, { delimiters: [
                    {left: '$$', right: '$$', display: true },
                    { left: '$', right: '$', display: false },
                    {left: '\\(', right: '\\)', display: false},
                    {left: '\\[', right: '\\]', display: true} ]});"></script>

    {{ end }}
    {{ end }}