<head>
    <meta charset="utf-8">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ block "head" . }}
    <link rel="stylesheet" href="{{ "css/foundation.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/highlight.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/academicons.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/fonts.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/finite.css" | absURL }}">
    {{ $style := resources.Get "css/hzi.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}
    {{ if .Site.Params.leaflet_enable }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    {{ end }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>