{{ define "top-bar-right" }}
<!-- {{ partial "share.html" $ }} -->
{{ partial "lang-switch.html" $ }}
{{ end }}
{{ define "title-bar-right" }}
<!-- {{ partial "share.html" $ }} -->
{{ partial "lang-switch.html" $ }}
{{ end }}
{{ define "main" }}
<div class="row" >
<div class="column medium-3">
  <img src="img/LEOSS_sero-survey_rgb.png" alt="{{.Title}}" style="max-height:15vh; text-align:center;" />
</div>
  <div class="column medium-9">
  <h3>{{ i18n "FrontSubtitle" }}</h3>
  <h1>{{ i18n "FrontTitle" }}</h1>
    {{ .Content  }}</div>   
</div>
</div>

<div class="row">
  <div class="column small-12 medium-12 large-8">
    <h2>{{ i18n "FrontMapHeading" }}</h2>
    {{ if .Site.Params.leaflet_enable }}
    {{ partial "leaflet.html" . }}
    {{ end}}
  </div>

  <div class="column small-12 medium-12 large-4">
    
    <!--
    {{ partial "livetwitterfeed.html" . }}
    -->
    <div class="row">
      <div class="column small-12 medium-4 large-6">
        <h2>{{ i18n "FrontWhy" }}</h2>
        <p>{{ i18n "FrontWhyText" }}</p>
      </div>
      <div class="column small-12 medium-4 large-6">
        <h2>&nbsp;</h2>
        <img src="{{.Params.image}}" style="max-height:20vh; margin-left:auto; margin-right:auto;" />
      </div>

      <div class="column small-12 medium-4 large-12">
        <h2>{{ i18n "FrontContribute" }}</h2>
        <p>{{ i18n "FrontContributeText" }}</p>
        <a href="contribute" class="button hollow primary">{{ i18n "FrontContribute" }}</a>
      </div>  
    </div>
  </div>
</div>


<div class="row">

  <div class="column small-12 medium-12">
    <h2>{{ i18n "FrontStayupdated" }}</h2>
  </div>

  <div class="column small-12 medium-4 large-4">
    <div class="card">
		<div class="card-divider">
			<a href="posts/">
				<div class="left">
					<i class="fa fa-newspaper-o thumb"></i>
				</div>
				<div class="right">
					<h3>{{ .Site.Params.blogName }} <i class="fa fa-arrow-circle-right"></i></h3>
				</div>
			</a>
		</div>
		<div class="card-section">
			<p>{{ .Site.Params.blogDescription }}</p>
		</div>
    </div>
  </div>

  <div class="column small-12 medium-4 large-4">
    <div class="card">
		<div class="card-divider">
			<a href="studies/">
				<div class="left">
					<i class="fa fa-bar-chart thumb"></i>
				</div>
				<div class="right">
					<h3>{{ .Site.Params.studiesName }} <i class="fa fa-arrow-circle-right"></i></h3> 
				</div>
			</a>	
		</div>			
		<div class="card-section">
			<p>{{ .Site.Params.studiesDescription }}</p>
		</div>
    </div>
  </div>

  <div class="column small-12 medium-4 large-4">
    <div class="card">
      <div class="card-divider">
        <a href="publication/">
			<div class="left">
				<i class="fa fa-file-text-o thumb"></i>
			</div>
			<div class="right">
				<h3 >{{ .Site.Params.publicationName }} <i class="fa fa-arrow-circle-right"></i></h3>
			</div>
		</a>
      </div>
      <div class="card-section">
        <p>{{ .Site.Params.publicationDescription }}</p>
      </div>
    </div>
  </div>
</div>


{{ end }}
