{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "Studies" }}
{{ $posts_count := index .Site.Params "posts_count" | default 2 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "Publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 5 }}
<div class="row">
  <div class="column small-12 medium-4">
    <h2>Recent {{ $posts_title }}</h2>
    {{ range first $posts_count ((where .Site.Pages.ByDate "Section" "studies").Reverse) }}
    {{ partial "post-summary" . }}
    {{ end }}

	<a href="/studies/" class="button hollow primary">All {{ $posts_title }}</a>

  </div>
  <div class="column small-12 medium-4">
    <div class="row">
    <h2>Recent {{ $pubs_title }}</h2>
    <ul class="compact fa-ul">
      {{ range first $pubs_count (where .Data.Pages.ByDate "Section" "publication").Reverse }}
      <li>{{ partial "pub-summary" . }}</li>
      {{ end }}
    </ul>
  <a href="/publication/" class="button hollow primary">All {{ $pubs_title }}</a>
</div>
  </div>
  <div class="column small-12 medium-4">
    <h2>Engage</h2>
    <div class="row small-centered">
{{ if .Site.Params.leaflet_enable }}
{{ partial "leaflet.html" . }}
{{ end}}
    </div><div class="row small-centered">
{{ partial "livetwitterfeed.html" . }}
</div>
  </div>
{{ end }}
