{{ define "main" }}
<div class="row">
<div class="column medium-4 large-2">
  <img src="{{.Params.image}}" alt={{.Title}} />
  {{ .Content  }}
    {{ partial "livetwitterfeed.html" . }}
  
</div>
<div class="column small-12 medium-4 large-5">
  <div class="row">  <h2>Researchers</h2></div>
<div class="row">
{{ if .Site.Params.leaflet_enable }}
{{ partial "leaflet.html" . }}
{{ end}}
  </div>
</div>
<div class="column medium-4 large-5">
  {{ $posts_count := index .Site.Params "default_count" | default 2 }}
  {{ $show_series := (len (where .Site.RegularPages.ByDate "Section" "studies")) "gt" 0 }}
  {{ if $show_series }}
  <a href="/studies/"><h2 >Studies <i class="fa fa-arrow-circle-right"></i></h2> </a>
  <div class="row">
  {{ range first $posts_count ((where .Site.RegularPages.ByDate "Section" "studies").Reverse) }}
  
    {{ partial "post-summary" . }}
    
    {{ end }}
  </div>  
  {{ end }}
  {{ $show_pubs := (len (where .Site.RegularPages.ByDate "Section" "publication")) "gt" 0 }}
  {{ if $show_pubs }}
  <a href="/publication/"><h2 >Publications <i class="fa fa-arrow-circle-right"></i></h2> </a>
  <div class="row">
  {{ range first $posts_count ((where .Site.RegularPages.ByDate "Section" "publication").Reverse) }}
  
    {{ partial "post-summary" . }}
    
    {{ end }}
  </div>  
  {{ end }}

  {{ $show_posts := (len (where .Site.RegularPages.ByDate "Section" "posts")) "gt" 0 }}
  {{ if $show_posts }}
  <a href="/posts/"><h2 >Blog <i class="fa fa-arrow-circle-right"></i></h2> </a>
  <div class="row">
  {{ range first $posts_count ((where .Site.RegularPages.ByDate "Section" "posts").Reverse) }}
  
    {{ partial "post-summary" . }}
    
    {{ end }}
  </div>  
  {{ end }}
  </div>

</div>
{{ end }}
