<form name="contact" method="POST" data-netlify="true">
    <div class="row">
        <div class= "column medium-6">
            <h2>Information</h2>
            <p>
              <label>Your Name*: <input type="text" name="name" required/></label>   
            </p>
            <p>
              <label>Your Email*: <input type="email" name="email" required/></label>
            </p>
            <p>
              <label>Your Affiliation(s)*: <input type="text" name="affiliations" required/></label>
            </p>
                <p>
                    <label>Study name*: <input type="text" name="study_name" required/></label>
                </p>

  </div>
  <div class= "column medium-6">
  <h2>Data</h2>
  <p>Share a link to where the file can be downloaded (preferable) or upload the files.</p>
    <p>
    <label>Data URL: <input type="text" name="data_url"/></label>
  </p>
  <p>    <label>Data files: <input type="file" name="data_files" multiple /></label>
  </p>
  <p>
    <label>Who this data can be shared with: <select name="role[]" multiple>
      <option value="everyone">Everyone</option>
      <option value="germany">Researchers in German institutions</option>
    </select></label>
  </p>
<p>  <input type="checkbox" id="authorisation" name="authorisation" required>
  <label for="authorisation">I confirm I have the authorisation to share the information and any data relating to this study*</label> </p>
  <p> 
    <button type="submit" class="button hollow primary">Send</button>
  </p>
  </div>
    </div>
</form>