
  <div class= "column medium-6">
  <!--
  <h2>Information</h2>

    <form name="contact" method="POST" data-netlify="true">
      <div class="form-group">
        <label>{{ i18n "ContributeName" }}*: <input type="text" name="name" required/></label>   
      </div>

      <div class="form-group">
        <label>{{ i18n "ContributeEmail" }}*: <input type="email" name="email" required/></label>
      </div>

      <div class="form-group">
        <label>{{ i18n "ContributeAffiliation" }}*: <input type="text" name="affiliations" required/></label>
      </div>

      <div class="form-group">
        <label>{{ i18n "ContributeStudyName" }}*: <input type="text" name="study_name" required/></label>
      </div>

      <div class="form-group">
        <label>{{ i18n "ContributeDataUrl" }}: <input type="text" name="data_url"/></label>-->
        <!-- <small id="data_url_help" class="form-text text-muted">Share a link to where the file (e.g. study protocol) can be downloaded (preferable) or upload the files.</small> -->
      </div>
      <!-- 
      <div class="form-group">
        <label>Data files: <input type="file" name="data_files" multiple /></label>
      </div>
      -->
      <!--
      <div class="form-group">
        <label>{{ i18n "ContributeAccess" }} </label>
        <select class="form-control" name="role[]" multiple>
          <option value="public">{{ i18n "ContributeAccessPublic" }}</option>
          <option value="contributors">{{ i18n "ContributeAccessContributors" }}</option>
          <option value="dzifonly">{{ i18n "ContributeAccessDZIF" }}</option>
          <option value="private">{{ i18n "ContributeAccessPrivate" }}</option>
        </select>    
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="authorisation" required>
          {{ i18n "ContributeAuth" }}*
        </label>   
      </div>
      <br>

      <button type="submit" class="button hollow primary">{{ i18n "ContributeSendDoc" }}</button>

    </form>-->
    <h2>{{ i18n "ContributeDocuments" }}</h2>
    <p>
      {{ i18n "ContributeDocumentsText" }}: <br>
      <a class="button hollow primary" href="https://nubes.helmholtz-berlin.de/s/3y8ZCCYaqTrjNeZ" target="_blank">{{ i18n "ContributeSend" }}</a>
    </p>
   

</div>


